<header>
<span class ="heamain"><a class="titlecol" href= "/">TripA2Z</a></span>
 	     <nav id="navbar">
    	    <ul>
				<li ><a  href="/mytrips">Get your Trips</a></li>
				
				<li><a href ="/newConnection">Post new Trip</a></li>
            </ul>
 		</nav>
		<hr>
    	<ul>
	           <li class="exislist"><a class="col2"">Search for popular destinations</a></li>
            </ul>		
</header>