<header>
<span class ="heamain"><a class="titlecol" href= "/">TripA2Z</a></span>
 	     <nav id="navbar">
    	    <ul>
				<li ><a  href="/mytrips">Get Your Trips</a></li>
				<li><a href ="/newConnection">Post New Trip</a></li>
            </ul>
 		</nav>
		<hr>
    	<ul>
	           <li class="exislist"><a class="col2" href="/connections">Get All Exsisting Trips</a></li>
            </ul>		
</header>